<form action="/pois" method="get">
  <div class="is-flex is-justify-content-end">
    <div class="field pr-4">
      <input class="input" type="text" placeholder="Enter POI name" name="name"value="{{query}}">
    </div>
    <button class="button is-link">Find</button>
  </div>
</form>
